/*  =========================================================================
    lithe.elements.code
/   ========================================================================= */

/*  Use/Forward rules
    `@use` or `@forward` everything you need here from other files.
    These can include variables, mixins & other includes.
/   ========================================================================= */

@use '../settings/vars';
@use 'tools/typography';
@use 'tools/space';

/*  Variables
/   ========================================================================= */

/*  Functions/Mixins
/   ========================================================================= */

/*  Module
/   ========================================================================= */

:not(pre) > code {
  display: inline-block;
  vertical-align: middle;
  padding-inline-start: 0.5em;
  padding-inline-end: 0.5em;
  border-radius: space.get('tiny');
  @include typography.font-size(vars.$font-size-eta);
  background-color: var(--color-syn-high-code-bg);
  color: var(--color-syn-high-code-text);
}

.o-fixture code {
  background-color: var(--color-syn-high-code-fixture-bg);
  color: var(--color-syn-high-code-fixture-text);
}
