/*  =========================================================================
    lithe.components.heading
/   ========================================================================= */

/*  Use/Forward rules
    `@use` or `@forward` everything you need here from other files.
    These can include variables, mixins & other includes.
/   ========================================================================= */

@use "tools/space";
@use "tools/responsive";

/*  Variables
/   ========================================================================= */

/*  Functions/Mixins
/   ========================================================================= */

/*  Module
/   ========================================================================= */

.c-heading {
  position: relative;
}

.c-heading__permalink {
  position: absolute;
  top: 50%;
  right: calc(100% + #{space.get('tiny')});
  transform: translateY(-50%);
  font-size: space.get('tiny');

  > svg {
    display: block;
  }

  @include responsive.mq('desk') {
    font-size: space.get('small');
  }
}
