/*  =========================================================================
    lithe.manifest
    This file contains Lithe specific styles
/   ========================================================================= */

/*  Settings
/   ========================================================================= */

@use "lithe/settings/vars";

/*  Tools
/   ========================================================================= */

/*  Generic
/   ========================================================================= */

@use "lithe/generic/fonts";
@use "generic/reset";
@use "lithe/generic/theme";

/*  Elements
/   ========================================================================= */

@use "lithe/elements/toplevel";
@use "lithe/elements/typography";
@use "lithe/elements/links";

/*  Objects
/   ========================================================================= */

@use "objects/layout";
@use "objects/flow";
@use "objects/list-clean";
@use "lithe/objects/frame";
@use "lithe/objects/fixture";

/*  Components
/   ========================================================================= */

@use "lithe/components/main";
@use "lithe/components/mastfoot";
@use "lithe/components/heading";
@use "lithe/components/nav";
@use "lithe/components/intro";

/*  Utilities
/   ========================================================================= */

@use "utilities/visually-hidden";

/*  logo
/   ========================================================================= */

.lithe-logo {
  > * {
    display: block;
    width: 100%;
    max-width: 10rem;
    height: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-radius: 50%;
    overflow: hidden;
  }
}

/*  Responsive
/   ========================================================================= */

@media (min-width: 45em) {
  .lithe-logo {
    > * {
      width: 100%;
    }
  }
}
